<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chee.ap4b.chapter4widgetexperiments" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WidgetExperimentsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutExperimentsActivity"
            android:label="@string/title_activity_layout_experiments" >
        </activity>
        <activity
            android:name=".LinearLayoutExperiment"
            android:label="@string/title_activity_linear_layout_experiment" >
        </activity>
    </application>

</manifest>
